@import '../../../styles.scss';

.dropdown-toggle, .dropdown-toggle:focus {
  background-color: $BG;
  color: $FG;
  &:hover {
    background-color: $DK;
  }
}

.dropdown-menu {
  border: none;
}

.dropdown-item {
  color: $BG;
  cursor: pointer; 
}
.dropdown-item:hover {
  background-color: $LT;
}

.card {
  //background-color: $FG;
  //border-color: $BG;
  //border-width: 3px;
  //cursor: pointer;
  .card-body {
    color: $BG;
  }
}

