<div class="dropdown">
  <button
    [ngClass]="{'disabled': tracks.length === 0}"  
    class="btn btn-secondary dropdown-toggle" 
    type="button" 
    id="dropdownMenuButton" 
    data-toggle="dropdown"
    style="width:100%"
  >
    選擇音頻
  </button>
  
  <div class="dropdown-menu" style="width:100%">
    <a 
      *ngFor="let track of tracks"
      class="dropdown-item text-center"
      (click)="onSelect(track)"
    >
      {{track.title}}
    </a>
  </div>
</div>

<div class="card my-3">
  <div class="card-body p-2 text-center">
    {{selectedTrack.title}}
  </div>
</div>

