@import '../../../styles.scss';

.progress {
  background-color: #FFF;

  .progress-bar {
    background-color: $BG;
    
    -webkit-transition: none !important;
    transition: none !important;
  }
}

span {
  font-family: 'Oswald', sans-serif;
  color: $BG;
}
