<div class="container p-3">

  <app-progress-bar></app-progress-bar>

  <div class="container p-3">

    <div class="btn-group" role="group" style="width:100%">    
      <button 
        type="button" 
        class="btn btn-lg"
        [ngClass]="{'disabled': index === 0}"
        (click)="backward()"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
      
      <button
        type="button" 
        class="btn btn-lg mx-2"
        *ngIf="!(this.playbackService.isLoaded | async) else controlBlock"
      >
        <i class="fas fa-spinner fa-spin"></i>
      </button>
      <ng-template #controlBlock>
        <button 
          type="button" 
          class="btn btn-lg mx-2"
          *ngIf="!isPlaying else elseBlock"
          (click)="play()"
        >
            <i class="fas fa-play"></i>
        </button>
        <ng-template #elseBlock>
          <button 
            type="button" 
            class="btn btn-lg mx-2"
            (click)="pause()"        
          >
              <i class="fas fa-pause"></i>
          </button>
        </ng-template>
      </ng-template>
      
      <button 
        type="button" 
        class="btn btn-lg"
        [ngClass]="{'disabled': index === tracks.length - 1}"
        (click)="forward(false)"
      >
        <i class="fas fa-chevron-right"></i>
      </button>

    </div>
  
  </div>
</div>
