<div class="container p-3">
  <app-playlists 
    [playlists] = "playlists"
    (playlistEvent) = "receivePlaylist($event)"
  >
  </app-playlists>
  <app-albums
    [albums] = "albums"
    [selectedAlbum] = "selectedAlbum"
    (albumEvent) = "receiveAlbum($event)"
  >    
  </app-albums>
  <app-tracks
    [tracks] = "tracks"
    [selectedTrack] = "selectedTrack"
    (trackEvent) = "receiveTrack($event)"
  >    
  </app-tracks>

  <app-control-panel
    [currentTrack] = "track"
    [tracks] = "tracks"
    *ngIf="isSelected"
  >
  </app-control-panel>
</div>
