<div class="container p-3 p-5-md">
  <a href="https://www.hcny.org"><p class="shadow rounded h5 my-3 py-2 text-center dark">回到教會網站首頁</p></a>
  <p class="h5 my-3 text-center">紐約豐收靈糧堂 磐石有聲讀物</p>
  <app-playlists 
    [playlists] = "playlists"
    [selectedPlaylist] = "selectedPlaylist"
    (playlistEvent) = "receivePlaylist($event)"
  >
  </app-playlists>
  <app-albums
    [albums] = "albums"
    [selectedAlbum] = "selectedAlbum"
    (albumEvent) = "receiveAlbum($event)"
  >    
  </app-albums>
  <app-tracks
    [tracks] = "tracks"
    [selectedTrack] = "selectedTrack"
    (trackEvent) = "receiveTrack($event)"
  >    
  </app-tracks>

  <app-control-panel
    [currentTrack] = "selectedTrack"
    [tracks] = "tracks"
    [index] = "index"
    *ngIf="isSelected"
    (updateEvent) = "receiveUpdateTrack($event)"
  >
  </app-control-panel>
</div>
