<div class="dropdown">
  <button
    [ngClass]="{'disabled': albums.length === 0}" 
    class="btn dropdown-toggle" 
    type="button" 
    id="dropdownMenuButton" 
    data-toggle="dropdown"
    style="width:100%"
  >
    選擇專輯
  </button>
    
  <div class="dropdown-menu" style="width:100%">
    <a 
      *ngFor="let album of albums"
      class="dropdown-item text-center"
      (click)="onSelect(album)"
    >
      {{album.title}}
    </a>
  </div>
</div>
  
<div class="card my-3">
  <div class="card-body p-2 text-center">
    {{selectedAlbum.title}}
  </div>
</div>
  
